/* header .nav-btn{
    padding: 5px ;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;

}


@media only screen and (max-width : 1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;

    }
    
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--textColor);
        transition: 1s;
        transform: translateY(-100vh);

    }
    header .responsive_nav{
        transform: none;
    }
    
} */